@model TPMascotas.ViewModels.PerfilViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <h2>Mi perfil</h2>
    <p> @ViewBag.Message </p>
    @if (Model.Notificaciones.Count == 0)
    {
        <p> No tienes notificaciones</p>
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th class="col-3"> Usuario </th>
                    <th class="col-3"> EMail </th>
                    <th class="col-2"> Celular </th>
                    <th class="col-3"> Nombre </th>
                    <th class="col-1"> X </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NotificacionesParaMostrar())
                {
                    <tr>
                        <td class="col-3"> @item.NombreInteresado </td>

                        <td class="col-3"> @item.Mail </td>

                        <td class="col-2"> @item.Telefono </td>

                        <td class="col-3"> @item.Publicacion </td>
                        <td class="col-1"> @Html.ActionLink("X", "NotifBorrar", new { id = item.Nid }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div class="container">
    @if (Model.ContarPublicaciones() == 0)
    {
        <p> No tienes Publicaciones</p>
    }
    <div class="row">
    @if (Model.ContarPublicaciones() > 0)
    {

        if (Model.Perdidos.Count() == 0)
        {

        }
        else
        {
            foreach (var item in Model.Perdidos)
            {
                <div class="col-md-4 inline-block">
                    <div class="card" style="width: 100%;">
                        <img src="@item.Foto" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">  @item.Zona</h5>
                            <p class="card-text">   @item.Desc</p>
                            <p class="card-text">   @item.Recompensa</p>

                            <a href="/Perdidos/Edit/@item.Id" class="btn btn-success">Editar</a>
                            <a href="/Perdidos/Remove/@item.Id" class="btn btn-danger float-right">Borrar</a>

                        </div>
                    </div>
                </div>
            }
        }
        if (Model.Encontrados.Count() == 0)
        {

        }
        else
        {
            foreach (var Encontrado in Model.Encontrados)
            {

                <div class="col-md-4 inline-block">
                    <div class="card" style="width: 100%;">
                        <img src="@Encontrado.Foto" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">  @Encontrado.Localidad</h5>
                            <p class="card-text">   @Encontrado.Desc</p>

                            <a href="/Encontrados/Edit/@Encontrado.Id" class="btn btn-success">Editar</a>
                            <a href="/Encontrados/Remove/@Encontrado.Id" class="btn btn-danger float-right">Borrar</a>

                        </div>
                    </div>
                </div>
            }
        }
        if (Model.Adoptados.Count() == 0)
        {

        }
        else
        {
            foreach (var Adoptado in Model.Adoptados)
            {
                <div class="col-md-4 inline-block">
                    <div class="card" style="width: 100%;">
                        <img src="@Adoptado.Foto" class="card-img-top img-thumbnail" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">  @Adoptado.Nombre</h5>
                            <p class="card-text">   @Adoptado.Desc</p>

                            <a href="/Adoptados/Edit/@Adoptado.Id" class="btn btn-success">Editar</a>
                            <a href="/Adoptados/Remove/@Adoptado.Id" class="btn btn-danger float-right">Borrar</a>

                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
            </div>

        
