@model TPMascotas.Models.Usuario

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h2>View</h2>
<p> @ViewBag.Message </p>

@using (Html.BeginForm("Registrar", "Usuarios"))
{
<div class="form-group">
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    @Html.LabelFor(m => m.Email)
    @Html.EditorFor(m => m.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    @Html.LabelFor(m => m.Localidad)
    @Html.TextBoxFor(m => m.Localidad, new { @class = "form-control" })
    @Html.LabelFor(m => m.NombreCompleto)
    @Html.TextBoxFor(m => m.NombreCompleto, new { @class = "form-control" })
    @Html.LabelFor(m => m.NumeroCelular)
    @Html.TextBoxFor(m => m.NumeroCelular, new { @class = "form-control" })

    @Html.LabelFor(m => m.Vivienda)
    @Html.TextBoxFor(m => m.Vivienda, new { @class = "form-control" })



    <button type="submit" onclick="location.href=@Url.Action("Registrar", "Usuarios", null)" class="btn btn-primary">Registrar </button>
</div>
}
</div>
<script>
    $(document).ready(function () {
    $('#Email').addClass('form-control');
});</script>>