<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mascotas Web", "Index", "Home", new { area = "" }, new { @class = "navbar navbar-dark bg-dark" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Adoptame!", "Index", "Adoptados")</li>
                    <li>@Html.ActionLink("Me viste?", "Index", "Encontrados")</li>
                    <li>@Html.ActionLink("Estoy perdido", "Index", "Perdidos")</li>

                </ul>
                <span style="float:right; padding-top: 5px; padding-bottom: 5px;"> @Html.ActionLink("Logueate!", "Login", "Usuarios")  @Html.ActionLink("Registrate!", "Registrar", "Usuarios") </span>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">@Html.ActionLink("Mascotas Web", "Index", "Home", new { area = "" }, new { @class = "navbar navbar-dark bg-dark" })</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Encontrados/Index"> Me viste? </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Perdidos/Index"> Estoy Perdido </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Adpoptados/Index"> Adoptame!</a>
                </li>
            </ul>
        </div>
    </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - MascotasWeb - Nuevas tecnologias 1.</p>
            </footer>
        </div>
        @RenderSection("scripts", required: false)
</body>
</html>
