@model TPMascotas.Models.Encontrado
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class=" container">
    <h3>Ingrese</h3>
    @using (Html.BeginForm("Add", "Encontrados"))
    {
    <div class="form-group">
        @Html.LabelFor(m => m.Raza)
        @Html.TextBoxFor(m => m.Raza, new { @class = "form-control" })
        @Html.LabelFor(m => m.Tamanio)
        @Html.TextBoxFor(m => m.Tamanio, new { @class = "form-control" })
        @Html.LabelFor(m => m.Localidad)
        @Html.TextBoxFor(m => m.Localidad, new { @class = "form-control" })
        @Html.LabelFor(m => m.Foto)
        @Html.TextBoxFor(m => m.Foto, new { @class = "form-control" })
        @Html.LabelFor(m => m.Desc)
        @Html.TextBoxFor(m => m.Desc, new { @class = "form-control" })




        <button type="submit" onclick="location.href=@Url.Action("Add", "Encontrados", null)" class="btn btn-primary">Agregar </button>
    </div>
    }

</div>

