@model TPMascotas.Models.Encontrado
@{
    ViewBag.Title = "Encontrado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Encontrado</h2>
    <div class="row">

        <div class="col-3"></div>
        <div class="card inline-block col-6 pad" style="width: 18rem;">
            <img class="card-img-top" src="@Model.Foto" alt="">
            <div class="card-body">
                <h5 class="card-title"> <b>Localidad:</b>@Model.Localidad</h5>
                <p class="card-text"><b>Raza:</b> @Model.Raza</p>
                <p class="card-text"><b>TipoAnimal:</b> @Model.TipoAnimal</p>
                <p class="card-text"><b>Genero:</b> @Model.Genero</p>

                <p class="card-text"><b>Descripcion:</b> @Model.Desc</p>
                <a href="/Encontrados/Encontrar/@Model.Id" class="btn btn-primary">Contactame si sos mi duenio</a>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>