@model TPMascotas.ViewModels.FullViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h2>
        Publicaciones de Animales perdidos, encotraste una mascota que crees que puede tener duenio? busca aca.
    </h2>
    <div class="row">
        @foreach (var Perdido in Model.Perdidos)
        {
            <div class="col-sm-3 inline-block">

                <img src="@Perdido.Foto" class="img-thumbnail"> 
            </div>

        }
    </div>
    
    @Html.ActionLink("Animales perdidos", "Index", "Perdidos")

</div>
<div class=" container">
    <h2>
        Publicaciones de Animales Encontrados, perdiste tu mascota? por ahi aca puedas encontrarla.
    </h2>
    <div class="row inline-block">
        @foreach (var Encontrado in Model.paginacion())
        {
            <div class="col-sm-3">
                <img src="@Encontrado.Foto" class="img-thumbnail"> 
            </div>

        }
    </div>
    @Html.ActionLink("Animales encontrados", "Index", "Encontrados")
</div>
<div class=" container">
    <h2>
        Publicaciones de Animales en adopcion, Queres adoptar una nueva mascota? Busca aca!
    </h2>
    <div class="row">
        @foreach (var Adoptado in Model.Adoptados)
        {
            <div class="col-sm-3 inline-block">

                <img src="@Adoptado.Foto" class="img-thumbnail"> 
            </div>

        }
    </div>
    @Html.ActionLink("Animales en adopcion", "Index", "Adoptados")
</div>