
@model TPMascotas.ViewModels.AdoptadoViewModel
@{ ViewBag.Title = "Adoptados";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }    



<div class="container">
    <h2>@ViewBag.message</h2>

    <input type="text" id="myInput" class="form-control searchbox-input">
    <hr/>
    <div class="row">



        @foreach (var Adoptado in Model.paginacion())
        {

            <div class="col-md-4 inline-block">
                <div class="card" style="width: 100%;">
                    <img src="@Adoptado.Foto" class="card-img-top img-thumbnail" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">  @Adoptado.Nombre</h5>
                        <p class="card-text">   @Adoptado.Desc</p>
                        <a href="/Adoptados/Adoptado/@Adoptado.Id" class="btn btn-primary">Ver mas info</a>
                    </div>
                </div>
            </div>






        }


    </div>



    @Html.ActionLink("Agregar Publicacion", "Add", "Adoptados")

</div>

<script>

    $('input').change(function () {
        $('.card').hide();
        var filter = $(this).val();
        $(".card:contains('" + filter + "')").show();
    });


</script>