@model TPMascotas.Models.Perdido

<div class=" container">
    <h3>Ingrese</h3>
    @using (Html.BeginForm("Add", "Perdidos"))
    {
    <div class="form-group">
        @Html.LabelFor(m => m.TipoAnimal)
        @Html.TextBoxFor(m => m.TipoAnimal, new { @class = "form-control" })
        @Html.LabelFor(m => m.Raza)
        @Html.TextBoxFor(m => m.Raza, new { @class = "form-control" })
        @Html.LabelFor(m => m.Tamanio)
        @Html.TextBoxFor(m => m.Tamanio, new { @class = "form-control" })
        @Html.LabelFor(m => m.Genero)
        @Html.TextBoxFor(m => m.Genero, new { @class = "form-control" })
        @Html.LabelFor(m => m.Recompensa)
        @Html.TextBoxFor(m => m.Recompensa, new { @class = "form-control" })
        @Html.LabelFor(m => m.Zona)
        @Html.TextBoxFor(m => m.Zona, new { @class = "form-control" })
        @Html.LabelFor(m => m.Desc)
        @Html.TextAreaFor(m => m.Desc, new { @class = "form-control" })
        @Html.LabelFor(m => m.Foto)
        @Html.TextBoxFor(m => m.Foto, new { @class = "form-control" })
        @Html.HiddenFor(m => m.UsuarioID)





        <button type="submit" onclick="location.href=@Url.Action("Add", "Perdidos", null)" class="btn btn-primary">Agregar </button>
    </div>
    }

</div>
